@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: rgb(200, 200, 200);
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  html,
  body,
  #root,
  .App {
    height: fit-content;
  }
}
